table(width="100%" align="center" class="mobile-table" bgcolor="#FFFFFF")&attributes(tableAtt)
  tr
    td
      table&attributes(tableAtt)(width="100%")
        tr
          +hSpacer(23)
          td
            include ../fragments/intro/desktop.pug
          +hSpacer(23)
  tr
    td(align="left" class="")
      table(width="100%" align="center" class="mobile-table")&attributes(tableAtt)
        tr
          +hSpacer(23)
          td(align="left")
            font(class="f16 orangelink").
              !{intro.heading}
          +hSpacer(23)
  +vSpacer(10)        
  tr
    td(align="left" class="")
      table(width="100%" align="center" class="mobile-table" bgcolor="#000000")&attributes(tableAtt)
        tr
          td(align="left" class="mobile-hide")
            img(src=img_path+"Desktop1.png" width="375")
          td(align="left" valign="middle" style="padding-right:10px" class="mobile-hide")
            <a href="https://www.findkrasg12c.com/biomarker-testing#howtotest" target="_blank"> 
              img(src=img_path+"Desktop2.png" width="212")
            </a>
        <!--[if !mso]><!-->
        tr
          td(align="center")
            img(src=img_path+"mobile1.png" width="100%" class="mobile-show" style="display:none")
        tr    
          td(align="center" valign="middle" class="adjustpad")
            <a href="https://www.findkrasg12c.com/biomarker-testing#howtotest" target="_blank">
              img(src=img_path+"mobile2.png" width="100%" class="mobile-show" style="display:none")
            </a>
        <!-- <![endif]-->  
  +vSpacer(5)            
  tr
    td(align="left" class="")
      table(width="100%" align="center" class="mobile-table")&attributes(tableAtt)
        tr
          +hSpacer(23)
          td(align="left" class="aacenter")
            font(class="f13 orangelink f_bold").
              !{intro.text3}
          +hSpacer(23)
  +vSpacer(8)

table(width="100%" align="center" class="mobile-table" bgcolor="#FFFFFF")&attributes(tableAtt)
  tr
    +hSpacer(18)
    td
      table&attributes(tableAtt)(width="100%")
        tr
          td(valign="top"  width="2" class="paddin") &nbsp;   
          td(class="f9 black adpad2 paddin")
            font(class="f9 black").
              !{intro.text8}
        tr
          td(valign="top"  width="2" style="padding-top:12px;") &nbsp;
          td(style="padding-top:12px;" class="f9 black") <b>References: 1.</b> Sherwood JL, et al. <i>ESMO Open.</i> 2017;2(4):e000235. <b>2.</b> Data on file, Amgen; [Epidemiology and Clinical Outcomes]. <b>3.</b> Pennell NA, et al. <i>Am Soc Clin Oncol Educ Book.</i> 2019;39:531-542. <b>4.</b> FoundationOne<sup class="sup osup">®</sup> CDx. <a href="#" style="word-break: break-all;" class="lineblue">https://assets.ctfassets.net/w98cd481qyp0/41rJj28gFwtxCwHQxopaEb/4031a74e169f2ebf04f7e6cb307141c3/FoundationOne_CDx_Label_Technical_Info.pdf.</a> Accessed October 28, 2020. <b>5.</b> Guardant360. <a href="#" style="word-break: break-all;" class="lineblue">https://guardant360cdx.com/wp-content/uploads/2020/09/Guardant360CDx_Label_Technical_Info.pdf.</a> Accessed October 28, 2020. <b>6.</b> QIAGEN. <a href="#" style="word-break: break-all;" class="lineblue">https://www.qiagen.com/us/resources/download.aspx?id=59192bf9-d987-4de9-9130-649a87666d38&lang=en.</a> Accessed October 28, 2020. <b>7.</b> Pennell NA, et al. <i>JCO Precis Oncol.</i> 2019;3. doi: 10.1200/PO.18.00356. <b>8.</b> Leighl NB, et al. <i>Clin Cancer Res.</i> 2019;25(15):4691-4700. <b>9.</b> Yoon HJ, et al. <i>Radiology.</i> 2012;265(3):939-948. <b>10.</b> Kalemkerian GP, et al. <i>J Clin Oncol.</i> 2018;36(9):911-919. <b>11.</b> Lindeman NI, et al. <i>Arch Pathol Lab Med.</i> 2018;142(3):321-346.
    +hSpacer(20)
table(width="100%" align="center" class="mobile-table" bgcolor="#FFFFFF")&attributes(tableAtt)
  tr
    +hSpacer(23)
    td(class="adpad")
      table&attributes(tableAtt)(width="100%")
        +vSpacer(35)
        tr
          td
            img(src=img_path+"logo.png" width="86" class="changewidth") 
        +vSpacer(5)
        tr
          td(class="adpad1")
            font(class="f9 black").
              !{intro.text10}
        tr
          td(class="adpad1")
            font(class="f9 black").
              !{intro.text11}
        +vSpacer(15)       
    +hSpacer(26)
table(width="100%" align="center" class="mobile-table" bgcolor="#e6e4e5")&attributes(tableAtt)
  tr
    td(class="f10 color_blue" style="padding: 12px 20px 12px 18px;") If you prefer not to receive further messages from this center, please <a href="https://preferences.amgen.com/emailTriageMod.jsp?trg=etrgemod" target="_blank" class="orangelink" style="text-decoration:underline;"> click here</a> and confirm your request.
  
