table(width="100%" align="center" class="mobile-table" bgcolor="#FFFFFF")&attributes(tableAtt)
  tr
    td
      table&attributes(tableAtt)(width="100%")
        tr
          +hSpacer(23)
          td
            include ../fragments/intro/desktop.pug
          +hSpacer(23)
  tr
    td(align="left" class="")
      table(width="100%" align="center" class="mobile-table")&attributes(tableAtt)
        tr
          +hSpacer(23)
          td(align="left")
            font(class="f17 orangelink f_bold").
              !{intro.heading}
          +hSpacer(23)
  +vSpacer(10)        
  tr
    td(align="left" class="adpad")
      table(width="100%" align="center" class="mobile-table" bgcolor="#000000")&attributes(tableAtt)
        tr
          td(align="left" class="mobile-hide")
            img(src=img_path+"Desktop1.png" width="375")
          td(align="left" valign="middle" style="padding-right:10px" class="mobile-hide")
            <a href="http://www.findkrasg12c.com/biomarker-testing#whytotest" target="_blank"> 
              img(src=img_path+"Desktop2.png" width="212")
            </a>
        <!--[if !mso]><!-->
        tr
          td(align="center")
            img(src=img_path+"mobile1.png" width="100%" class="mobile-show" style="display:none")
        tr    
          td(align="center" valign="middle" class="adjustpad")
            <a href="http://www.findkrasg12c.com/biomarker-testing#whytotest" target="_blank">
              img(src=img_path+"mobile2.png" width="100%" class="mobile-show" style="display:none")
            </a>
        <!-- <![endif]-->  
  +vSpacer(5)            
  tr
    td(align="left" class="adpad2")
      table(width="100%" align="center" class="mobile-table")&attributes(tableAtt)
        tr
          //- +hSpacer(23)
          td(align="center")
            font(class="f14 orangelink f_bold").
              !{intro.text3}
          +hSpacer(23)
  +vSpacer(8)

table(width="100%" align="center" class="mobile-table" bgcolor="#FFFFFF")&attributes(tableAtt)
  tr
    +hSpacer(18)
    td
      table&attributes(tableAtt)(width="100%")

        tr
          td(valign="top" width="2" align="right")
            font(class="f9 black") *
          td(class="f9 black")
            font(class="f9 black").
              !{intro.text4}

        tr
          td(valign="top"  width="2" align="right")
            font(class="f9 black") 
              <sup class='sup'>†</sup>
          td(class="f9 black")
            font(class="f9 black").
              !{intro.text5}

        tr
          td(valign="top"  width="2" align="right")
            font(class="f9 black") 
              <sup class='sup'>‡</sup>      
          td(class="f9 black")
            font(class="f9 black").
              !{intro.text6}

        tr
          td(valign="top"  width="2" align="right")
            font(class="f9 black") 
              <sup class='sup'>§</sup>      
          td(class="f9 black")
            font(class="f9 black").
              !{intro.text7}
        tr
          td(valign="top"  width="2" style="padding-top:6px;") &nbsp;   
          td(style="padding-top:6px;" class="f9 black")
            font(class="f9 black").
              !{intro.text8}
        tr
          td(valign="top"  width="2" style="padding-top:6px;") &nbsp;
          td(style="padding-top:6px;" class="f9 black")
            font(class="f9 black").
              !{intro.text9}
    +hSpacer(26)
table(width="100%" align="center" class="mobile-table" bgcolor="#FFFFFF")&attributes(tableAtt)
  tr
    +hSpacer(23)
    td(class="adpad")
      table&attributes(tableAtt)(width="100%")
        +vSpacer(35)
        tr
          td
            img(src=img_path+"logo.png" width="86" class="changewidth") 
        +vSpacer(5)
        tr
          td(class="adpad1")
            font(class="f9 black").
              !{intro.text10}
        tr
          td(class="adpad1")
            font(class="f9 black").
              !{intro.text11}
        +vSpacer(15)       
    +hSpacer(26)
table(width="100%" align="center" class="mobile-table" bgcolor="#e6e4e5")&attributes(tableAtt)
  tr
    td(class="f10 color_blue" style="padding: 12px 20px 12px 18px;") If you prefer not to receive further messages from this center, please <a href="https://preferences.amgen.com/emailTriageMod.jsp?trg=etrgemod" target="_blank" class="orangelink" style="text-decoration:underline;"> click here</a> and confirm your request.
  
